aiohttp==3.8.3
aioice==0.7.6
aiortc==1.3.2
aiosignal==1.3.1
altair==4.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
av==9.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
bokeh==3.1.1
cachetools==5.2.0
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
contourpy==1.1.0
cryptography==37.0.4
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.2.1
easyocr==1.7.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.1
filelock==3.15.4
fonttools==4.34.4
frozenlist==1.3.3
fsspec==2024.6.1
gitdb==4.0.9
GitPython==3.1.27
google-crc32c==1.5.0
idna==3.3
imageio==2.34.0
importlib-metadata==4.12.0
ipydatawidgets==4.3.2
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.4
lazy_loader==0.3
linkify-it-py==2.0.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mdit-py-plugins==0.4.0
mdurl==0.1.2
meshio==5.3.5
mistune==0.8.4
mpmath==1.3.0
multidict==6.0.2
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
networkx==3.2.1
ninja==1.11.1.1
notebook==6.4.12
numpy==1.23.1
opencv-python-headless==4.10.0.84
packaging==21.3
pandas==2.2.2
pandocfilters==1.5.0
panel==1.1.0
param==1.13.0
parso==0.8.3
pdf2image==1.17.0
pickleshare==0.7.5
pillow==10.4.0
plotly==5.13.0
pooch==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
pure-eval==0.2.2
pyarrow==8.0.0
pyclipper==1.3.0.post5
pycparser==2.21
pydeck==0.8.1b0
pyee==9.0.4
Pygments==2.12.0
pylibsrtp==0.7.1
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
pyserial==3.5
python-bidi==0.5.1
python-dateutil==2.8.2
pythreejs==2.4.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyvista==0.43.4
pyviz-comms==2.3.1
pywin32==304
pywinpty==2.0.6
PyYAML==6.0
pyzmq==23.2.0
requests==2.28.1
rich==12.5.1
scikit-image==0.22.0
scikit-learn==1.2.2
scipy==1.10.1
scooby==0.7.0
semver==2.13.0
Send2Trash==1.8.0
shapely==2.0.5
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
stack-data==0.3.0
stpyvista==0.0.15
streamlit==1.38.0
streamlit-webrtc==0.43.4
sympy==1.13.1
tenacity==8.2.3
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2024.2.12
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
torch==2.4.0
torchvision==0.19.0
tornado==6.2
tqdm==4.65.0
TR_optical_components @ git+https://github.com/kotai2003/TR_pacakages_optical_components@6edf9a9e6be01b1c4523eff9755f5e91b8f6f397
traitlets==5.3.0
traittypes==0.2.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==4.2
uc-micro-py==1.0.2
urllib3==1.26.10
validators==0.20.0
vtk==9.3.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.1
wincertstore==0.2
wslink==1.9.1
xyzservices==2023.5.0
yarl==1.8.1
zipp==3.8.1
